html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 44%, rgba(0, 0, 0, 1) 47%, rgba(11, 25, 44, 1) 100%);

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


:root {
  --background: #0B192C;
  --card-bg: #020e1b;
  --text-primary: #FFFFFF;
  --text-secondary: #CCCCCC;
  --highlight: #FF6500;
  --border: #1E3E62;
}

button {
  cursor: pointer;
  border: 1px solid #3498db;
  border-radius: 5px;
  background-color: transparent;
  height: 35px;
  width: 200px;
  color: #3498db;
  font-size: 0.8em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  background-color: #131c25;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}
