.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  margin-top: 40px;
}

.main {
  display: flex;
  text-align: center;
  place-content: center;
  color: aquamarine;
  padding: 50px;
}

.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 40px;
  margin-top: 5rem;
}
